body {
    background: black;
    color: white;
    margin: 20px auto;
    max-width: 1024px;
}

.container {
    
    margin: 0 auto;
}
header {
    width: 100%;
    display: block;
    align-items: center;
}
code {
    display: block;
    background-color: #eee;
    border: 2px solid #999;
    padding: 2px;
}

.txt_code {
    color: black;
}

.site_lk {
    color: white;
    text-decoration: none;
    
}

.github_page {
    width: 115px;
    height: 55px;
}

.rss_page {
    width: 60px;
    height: 55px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.footer_txt {
    font-size: 55px;
}

h1 {
    text-align: center;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    height: 240px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
gap: 5%;
}

li {
    list-style-type: none;
}