body {
    background: white;
    color: black;
margin: 0 auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
header {
    width: 100%;
    background: linear-gradient(blue, pink);
}

code {
    display: block;
    background-color: #eee;
    border: 2px solid #999;
    padding: 2px;
    width: 100%;
}

.txt_code {
    color: black;
}

.site_lk {
    color: black;
    text-decoration: none;
}

.github_page {
    width: 115px;
    height: 55px;
}

.rss_page {
    width: 60px;
    height: 55px;
}

.footer {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.footer_txt {
    font-size: 350%;
}
a{
    width: 100%;
}
h1 {
    text-align: center;
}

.photo {
    display: block;
margin: 0 auto;
    width: 60%;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
gap: 5%;
}

li {
    list-style-type: none;
}